[submodule "home/.vim/bundle/eunuch"]
	path = home/.vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "home/.vim/bundle/git"]
	path = home/.vim/bundle/git
	url = https://github.com/tpope/vim-git
[submodule "home/.vim/bundle/ruby"]
	path = home/.vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
