[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "home/.vim/bundle/vim-markdown"]
	path = home/.vim/bundle/vim-markdown
	url = http://github.com/tpope/vim-markdown
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = http://github.com/tpope/vim-commentary
[submodule "home/.vim/bundle/vim-eunuch"]
	path = home/.vim/bundle/vim-eunuch
	url = http://github.com/tpope/vim-eunuch
[submodule "home/.vim/bundle/vim-git"]
	path = home/.vim/bundle/vim-git
	url = http://github.com/tpope/vim-git
[submodule "home/.vim/bundle/vim-pasta"]
	path = home/.vim/bundle/vim-pasta
	url = http://github.com/sickill/vim-pasta
[submodule "home/.vim/bundle/gist-vim"]
	path = home/.vim/bundle/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule "home/.vim/bundle/ack.vim"]
	path = home/.vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree/
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "home/.vim/bundle/vim-statline"]
	path = home/.vim/bundle/vim-statline
	url = https://github.com/millermedeiros/vim-statline
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive/
