[user]
  name = Teo Ljungberg
  email = teo@teoljungberg.com
[github]
  user = teoljungberg
[credential]
  helper = osxkeychain
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  aa = add --all
  amend = commit -v --amend
  unstage = reset HEAD --
  reset-author = commit --amend --reset-author --no-edit
  pr = pull --rebase
  co = checkout
  cp = cherry-pick
  br = branch

  l = !source ~/.githelpers && short_git_log
  undeployed = !git l `git tag | grep production | tail -n 1`..origin/master
  unpushed = !git l origin/`git symbolic-ref HEAD 2> /dev/null | awk -F"/" '{ print $3 }'`..
  staging = !git tag | grep ^staging | tail -n 1 | xargs git show -s
  production = !git tag | grep ^production | tail -n 1 | xargs git show -s
  ctags = !.git/hooks/ctags
[merge]
  tool = vimdiff
  conflictstyle = diff3
[core]
  editor = vim -f
  excludesfile = ~/.gitignore
  pager = less -F
[push]
  default = simple
[help]
  autocorrect = 1
[branch]
  autosetuprebase = always
[init]
  templatedir = ~/.git_template
[commit]
  template = ~/.gitmessage
[grep]
  linenumber = true
[fetch]
  prune = true
