[user]
  name = Teo Ljungberg
  email = teo.ljungberg@gmail.com
[github]
  user = teoljungberg
[credential]
  helper = osxkeychain
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  aa = add --all
  amend = commit -v --amend
  unstage = reset HEAD --
  reset-author = commit --amend --reset-author --no-edit
  pr = pull --rebase
  cp = cherry-pick

  lg = !source ~/.githelpers && pretty_git_log
  l = !source ~/.githelpers && short_git_log
  la = !git l --all
  undeployed = !git l `git tag|grep production|tail -n 1`..HEAD
  unpushed = !git l origin/`git symbolic-ref HEAD 2> /dev/null | awk -F"/" '{ print $3 }'`..
  ctags = !.git/hooks/ctags
  nuke = !git branch -D $1 && git push origin :$1
[merge]
  tool = vimdiff
  ff = false
[core]
  editor = vim -f
  excludesfile = ~/.gitignore
  pager = less
[push]
  default = tracking
[help]
  autocorrect = 1
[branch]
  autosetuprebase = always
[rerere]
  enabled = true
[init]
  templatedir = ~/.git_template
[grep]
  linenumber = true
