# Ignore case while completing
set completion-ignore-case on

# Make Bash 8bit clean
set meta-flag on
set convert-meta off
set output-meta on

$if mode=vi
  set keymap vi-command

  set keymap vi-insert
  Control-a: beginning-of-line
  Control-b: backward-char
  Control-d: delete-char
  Control-e: end-of-line
  Control-f: forward-char
  Control-k: kill-line
  Control-l: clear-screen
  Control-n: next-history
  Control-p: previous-history
  set keymap emacs-ctlx

  v: vi-editing-mode
  Control-v: "\C-xv\e"
  Escape: "\C-xv\e"
  Control-l: clear-screen
$endif
